.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;


    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-social-midia{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}