.container{

    line-height: 100%;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    h3{
        font-weight: 600;
        font-size: 32px;
         color:#0D002E ;
    }

    p{
        font-size: 16px;
        font-weight: 400;
        color: #475569;
        width: 505px;
    }
}