<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>JONASDEV CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img priority width="669" height="523" ngSrc="/assets/Component.png">
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            95% das <br>
            empresas
        </div>
        <div class="info-benefit">
            não sabem como lidar com problemas de <span>escalibilidade</span> e grande volume de requisições.
        </div>
    </section>
    <section class="cta-section">
        <app-button varient="primary" title="fale com nossos especialistas"></app-button>
    </section>
    <section class="form-section">
        <app-newsletter-form></app-newsletter-form>
    </section>
    <section class="team-work">
        <app-work-team img="./assets/team.png" title="Equipe capacitada"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."></app-work-team>

        <app-work-team img="./assets/project-guide.png" title="Seus projetos guiados do zero"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."></app-work-team>
    </section>
    <section class="info-section">
        <h2>
            Quer elevar seu software e seus negócios para outro nível?
        </h2>
    </section>
    <section class="cta-section">
        <app-button varient="primary" title="fale com nossos especialistas"></app-button>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>